

.products{
    position: relative;
    
    &__header{
        display:flex;
        justify-content: space-between;
        padding:0px 16px;
        margin: 24px 0px;
    }
    &__title{
        background:var(--main-red);
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
        color:var(--second-white);
        font-size: 90px;
        
    }
    &__layout{
        display: flex;
    }
    &__btnFilters{
        border: 2px solid black;
        padding: 6px 8px;
        height: fit-content;
        align-self: flex-end;
        margin-bottom: 20px;
    }
}

.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0.8%;
    margin-top: 24px;

    
}

.productCard:last-child{
    border: 2px solid red;
    
}
.filterSort{
    width: 25%;
    padding: 1%;
    
}


body{
    background: var(--second-white);
}
@media (max-width:678px){
    .products{
        
        
        &__header{
            flex-direction: column;
            margin-bottom: 0px;
        }
        &__title{
            font-size: 70px;
        }
        &__btnFilters{
            width: 100%;
            margin-bottom: 0px;
        }
    }
}
@media (max-width:600px){
    .productList{
       width: 100% !important;
        
    }
}

