

.products{
    position: relative;
    
    &__header{
        display:flex;
        justify-content: space-between;
        padding:0px 16px;
        margin: 24px 0px;
        
    }
    &__title{
        background:var(--main-red);
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
        color:var(--second-white);
        font-size: 90px;
        
    }
    &__layout{
        display: flex;
    }
    &__btnFilters{
        border: 2px solid black;
        padding: 6px 8px;
        height: fit-content;
        align-self: flex-end;
        margin-bottom: 20px;
    }
    &__btnFilters:hover{
        background: var(--main-black);
        color:var(--second-white);
    }
}

.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0.8%;
    margin-top: 24px;
    padding-bottom: 40px;
    
}


.filterSort{
    width: 25%;
    padding: 1%;
    
}


body{
    background: var(--second-white);
}
@media (max-width:678px){
    .products{
        
        
        &__header{
            flex-direction: column;
            margin-bottom: 0px;
            padding: 0px 2%;
           
        }
        &__title{
            font-size: 65px;
        }
        &__btnFilters{
            width: 100%;
            margin-bottom: 0px;
        }
    }
}
@media (max-width:600px){
    .productList{
       width: 98% !important;
      margin: 24px auto;
        
    }
   
}
@media (max-width:400px){
    
    .products{
        &__title{
            font-size: 52px;
        }
        
    }
}

