.productCard{
    
    width: 32%;
    border: 1px solid black;
    margin: 8px 0.5%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background: var(--second-white);
   
    &__img{
        
    }
    &__image{
        width: 100%;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
    }
    &__name{
        //font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
    }
    &__model{
        color: var(--second-red);
        font-size: 12px;
    }
    &__price{
        font-size: 19px;
    }
    &__adminBar{
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
        border-top: 1px solid var(--main-black);
        margin-top: 8px;
    }
    &__btnDeleteProduct{
        color: var(--second-red);
        padding-right: 8px;
    }
    &__btnEditProduct{
        text-decoration: underline;
        padding-left: 8px;
    }

}
.productCard:hover{
    outline: 1px solid var(--main-black);
   
}
.productCard a:hover{
    
    cursor: pointer;
}
.addNewProductCard{
    width: 32%;
    border: 1px solid black;
    margin: 8px 0.5%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img{
        width: 50%;
    }
    p{
        color:var(--second-red);
        font-size: 28px;
    }
}
@media (max-width:825px){
    .productCard{
         width: 49%;

         &__name{
            //font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            margin: 4px 0;
        }
        &__price{
            font-size: 14px;
        }
    }
}

@media (max-width:400px){
    
    
    .productCard{
      

        &__name{
           //font-weight: bold;
           font-size: 16px;
           text-transform: uppercase;
       }

       &__price{
        font-size: 12px;
    }
   }
}
